<header>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div><a class="navbar-brand">{{title}}</a></div>
        </div>
    </nav>
</header>

<div class="container">

    <!--
        <app-hit-button incBy="1" (hit)="incrementCount($event)"></app-hit-button>
        <app-hit-button incBy="10" (hit)="incrementCount($event)"></app-hit-button>
        <app-hit-button incBy="100" (hit)="incrementCount($event)"></app-hit-button>

        <hr/>
        <app-display-count [value]="totalCount"></app-display-count>
    -->

    <app-customer-form></app-customer-form>

</div>