<header class="container">
  <nav class="navbar navbar-default">
    <div class="">
      <div class="navbar-header">
        <a [routerLink]="['']" href="" class="navbar-brand"> NG-PM </a>
      </div>
    </div>
  </nav>
</header>


<div class="container">

  <ul class="nav nav-pills">
    <li><a [routerLink]="['']" href="">Home</a></li>
    <li><a [routerLink]="['products']" href="">View All</a></li>
    <li><a [routerLink]="['product-new']" href="">Add New</a></li>
  </ul>

  <hr/>

  <router-outlet></router-outlet>

</div>