<section ng-controller="TabsController">

    <ul class="nav nav-tabs">
        <li ng-class="{active:isTabSelected(1)}"><a ng-click="changeTab(1)" href>Description</a></li>
        <li ng-class="{active:isTabSelected(2)}"><a ng-click="changeTab(2)" href>Specification</a></li>
        <li ng-class="{active:isTabSelected(3)}"><a ng-click="changeTab(3)" href>Reviews</a></li>
    </ul>
    <div class="panel" ng-if="isTabSelected(1)">
        <p>{{product.description}}</p>
    </div>
    <div class="panel" ng-if="isTabSelected(2)">Not yet</div>
    <div class="panel" ng-if="isTabSelected(3)">

        <blockquote ng-repeat="review in product.reviews">
            <p>{{review.stars}} <small>{{review.author}}</small></p>
            <p>{{review.body}}</p>
        </blockquote>
        <hr/>

        <product-review-form></product-review-form>
    </div>

    {{tab}}

</section>